@font-face {
	font-family: digital-7;
	src: url(../paginaPrincipal/fonts/digital-7.ttf);
}

#visor {
	text-align: center;
	margin-top: 250px;

}


output {
	text-align: center;
	font-family: digital-7;
	color:black;
	border: 3px solid black;
	padding: 4px 2px 15px 2px;
	outline: 1px solid gray;

 }
#data {
	position: relative;
  	top:-20px;
  	right: -1px;
  	font-size: 40px;
}

#hora{
	font-size: 60px;
}

#visorSpan{
	display: none;
}

#horaLink {
	position: absolute;
	margin-top: -20px;
	margin-left: -150px;
	border: 3px solid black;
	padding:4px;
	font-family:  digital-7;
	font-size: 40px;
	font-weight: bold;
}